body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global animations for carousel and page transitions */
@keyframes slideImageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root {
  margin-bottom: 16.5px !important;
}

.advanced-search-dialog .css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root {
  margin-bottom: 0 !important;
}